body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


button{
    display: flex;
    text-align: center;
    height: 25px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
}

li{
    list-style: none;
    margin: 5px 12px;
}

ul{
    display: flex;
    justify-content: center;
    padding-left: 0;
}